Package: com.gdhaode.taxi.driver.bypassface Name: 免刷脸登录 - 好的出租联盟 Version: 1.0.0 Architecture: iphoneos-arm Description: 绕过至尊好的出租联盟的所有面部识别验证 Depends: mobilesubstrate Priority: optional Section: Tweaks
